html, body {
    margin: 0;
    padding: 0;
}

div {
    background-color: #f5f5f5;
    margin: 0px auto;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #44dee0;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    position: fixed;
    top: 0;
}

.header h1 {
    color: white;
    font-family: 'Lato',serif;
    padding-left: 50px;
}

.container {
    margin-top: 100px;
    padding-top: 20px;
}

#fieldset1 {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.field {
    float: left;
    width: 15%;
    text-align: left;
    padding-right: 5px;
    margin-top: 5px;
    color: #969696;
    font-size:15px;
    font-family: 'Lato',serif;
}

legend {
    font-size: 20px;
    font-family: 'Lato',serif;
    color: #585858;
    padding: 12px;
}

input[type = "text"]{
    color: #888;
    width: 50%;
    height: 25px;
    outline: 0;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
    background: #fbfbfb;
    font-size:15px;
    font-family: 'Lato',serif;
}

input[type = "button"],input[type="submit"] {
    font-size:15px;
    font-family: 'Lato',serif;
    color: white;
    padding:6px 24px;
    text-decoration:none;
    background:#95b9c7;
    box-shadow: none;
    border: none;
    position: relative;
}

input[type = "button"]:hover,input[type="submit"]:hover {
    background-color: #5182bb;
    text-shadow: -1px 1px #27496d;
}

input[type = "button"]:active,input[type="submit"]:active {
    top: 2px;
}

.submit {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: flex-start;
}

#discard,#add {
    width: 100px;
    text-align: center;
    margin-right: 20px;
}

.viewbox {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 60%;
    height:auto;
}

#fieldset2 {
    margin-top: 20px;
    border: none;
}

.right {
    margin-top: 64px;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.right input {
    margin-top: 10px;
}


footer {
    font-size: 12px;
    margin-top: 20px;
}

.foot p {
    float: left;
    margin: 20px 20px;
}

.foot ul {
    float: right;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

footer li {
    margin-right: 10px;
}

footer li img {
    width: 30px;
    height: 30px;
}


#tableData tr {
    background: #fbfbfb;
}

#tableData tr:hover {
    background-color: #44dee0;
}

table {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    border-collapse: collapse;
    font-size:15px;
    font-family: 'Lato',serif;
    position: relative;
}

th {
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

td {
    height: 25px;
    padding: 5px;
    border-bottom: 1px solid #ffcd52;
    color: #585858;
}


thead {
    background-color: #5182bb;
    color: #fff;
    border-bottom-width: 0;
}


.sort {
    display:inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top: -8px;
    right: -50px;
}

.sort:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 10px;
    left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}






